/* ==UserStyle==
@name           10.com.au Dark
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-03-29.0.1
@description    Dark
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
==/UserStyle== */
@-moz-document domain("10.com.au"), domain("tenplay.com.au") {
  html {
    --grey-10: hsl(0, 0%, 10%);
    --grey-5: hsl(0, 0%, 5%);
    --text-darker: silver;
    --text: antiquewhite;
    --theme-color-alt: darkgrey;
    --theme-color-darker: hsl(210.5, 78.7%, 46.1%);
  }

  body,
  .member-login {
    --theme-color: dodgerblue !important;
    color: var(--text-darker);
  }

  .mytv--shows,
  .mytv--accounts {
    --theme-color: dodgerblue !important;
  }

  .global-header--show-page::before,
  .global-header--show-page,
  .page-title-bar {
    background: hsl(from var(--theme-color) h s 12%);
  }

  .member-login__login-form .form__input {
    background: hsla(0, 0%, 50%, 0.12);
  }

  .mytv-tabs__tab--accounts.mytv-tabs__tab:hover {
    border-bottom-color: var(--theme-color-darker);
  }

  .mytv-tabs__tab--accounts.mytv-tabs__tab .mytv-icon-container .mytv-icon::before {
    background: -webkit-linear-gradient(var(--theme-color-darker), var(--theme-color));
    background-clip: text;
    -webkit-background-clip: text;
  }

  .mytv-tabs__tab--accounts.mytv-tabs__tab--active {
    border-bottom-color: var(--theme-color)
  }

  .form__input-icon,
  .mytv h3,
  .mytv-tabs__tab--accounts.mytv-tabs__tab--active .mytv-tabs__tab-label {
    color: var(--theme-color-darker);
  }

  .btn,
  .member-login__header,
  .member-login__intro,
  .mytv__form--button .form__btn {
    background-color: var(--theme-color-darker);
    background-image: none;
  }

  .card--liveNow:hover .card__wrapper .card__title,
  .favourite-card__info .favourite-card__title:hover,
  .form__dropdown-label,
  .form__input-label,
  .form__input-reveal-text,
  .form__select-label,
  .member-login__headline,
  .member-login__link {
    color: var(--theme-color);
  }

  .form__input {
    color: var(--text);
    background-color: transparent;
    border-color: var(--theme-color-alt);

    &:focus {
      border-color: var(--theme-color);
      background-color: transparent;
    }
  }

  .mytv-icon-container .mytv-icon {
    filter: brightness(75%);
    background-color: var(--grey-10) !important;
  }

  img {
    filter: brightness(75%) grayscale(25%);
  }

  .card--liveNow .card__wrapper .progressbar--progress {
    background-color: hsl(from var(--channelColour) h calc(s * 0.75) calc(l * 0.75));
  }

  .marquee .show__title::after {
    filter: grayscale(25%);
  }

  .marquee .show__cta--primary {
    background-color: hsl(from var(--banner-color) h calc(s * 0.75) calc(l * 0.75));
    border-color: hsl(from var(--banner-color) h calc(s * 0.75) calc(l * 0.75));
  }

  .btn--featured {
    background-color: var(--grey-10);
    color: var(--text);
  }

  .btn--featured:hover,
  .btn--featured.btn--active,
  .user-dropdown__menu {
    background-color: hsl(0, 0%, 30%);
    color: var(--text);
  }

  .global-header--default-page,
  .global-header.show:not(.global-header--show-page)::before,
  .megamenu__menus,
  body,
  html {
    background: var(--grey-5);
  }

  .category-tree-item:nth-child(2n+1),
  .dropdown__active .dropdown__menu,
  .global-modal__inner .member-login,
  .megamenu__search,
  .mytv-tabs__nav-outer,
  .mytv,
  #showPage > section.main__section > .tab__list {
    background-color: var(--grey-10);
  }

  .card--liveNow .card__wrapper,
  .dropdown__active .dropdown__title,
  .global-header--default-page::before,
  .megamenu__menu--grey,
  .megamenu__menu--white,
  .member-login,
  .mytv-icon-container,
  .mytv-icon,
  .show__about--mini,
  .show-video,
  body.pageInitiated main > .content__wrapper > .content__wrapper--inner {
    background: none;
  }

  .favourite-card {
    border: none;
    background: none;
  }

  .btn--gradient,
  .btn--gradient:hover,
  .marquee :is(.show__cta, .show__title),
  .show-video :is(h3 small, strong),
  .show-video__actions .btn,
  .show-video,
  #showPage > section.main__section > .tab__list .tab__list-item {
    color: var(--text-darker) !important;
  }

  .articles__link,
  .content__header h3,
  .favourite-card__info .favourite-card__title,
  .form__dropdown .dropdown__title,
  .global-footer__headline,
  .global-header :is(a, button),
  .global-header--default-page .global-header__search button,
  .global-header--megamenu:not(.global-header--show-page) .icon-search,
  .marquee .show__description,
  .mytv-tabs__tab,
  .page-title-bar :is(h1, h2),
  .show-video h3,
  h4.card__title {
    color: var(--text);
  }

  .global-footer__navigation {
    background-color: var(--grey-10);
    border-bottom: none;
  }

  .mytv-tabs__content {
    border: none;
    padding: 0px 10px;
  }

  .mytv__block {
    background: transparent;
    border: 1px solid dimgrey;
  }

  .form__dropdown .dropdown__menu div {
    border-color: dimgrey;
    color: var(--text);
  }
}