/* ==UserStyle==
@name           bleachbit.org Dark
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-02-19.0.1
@description    Dark
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
==/UserStyle== */
@-moz-document domain("bleachbit.org") {

  body,
  #footer {
    background: hsl(0, 8%, 15%);
    border-color: currentColor;
    color: silver;
  }

  a:hover {
    color: steelblue;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: hsl(0, 0%, 40%);
  }

  #header #site-name a {
    color: grey;
    text-shadow: 2px 2px 0px dodgerblue;
  }

  #navigation {
    float: unset;
    display: block;
    min-width: max-content;
  }

  #navigation ul {
    background: none;
  }

  #navigation ul li {
    background: hsla(0, 0%, 0%, 0.1);
  }

  #navigation ul li a {
    text-shadow: none;
  }

  #navigation ul li a:hover {
    background-color: silver;
  }

  #navigation ul li a.active {
    background: hsla(0, 0%, 30%, 1);
    text-shadow: none;
  }

  #navigation ul li a.active:hover {
    background-color: silver;
    color: hsl(0, 0%, 20%);
  }
}

@-moz-document domain("ci.bleachbit.org") {
  a:link {
    color: hsl(210, 73%, 51%);
  }

  a:hover {
    color: steelblue;
    text-decoration: none;
  }

  a:visited {
    color: mediumpurple;
  }
}
