/* ==UserStyle==
@name           Fixes
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-06-28.0.1
@description    Fixes that are too small to dedicate a whole file
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
==/UserStyle== */
@-moz-document domain("iview.abc.net.au") {
  div[data-component="FeatureCarousel"] {
    width: auto;
  }

  .iv-__C8j {
    top: 0;
  }
}

@-moz-document domain("canva.com") {
  .e3l6yA {
    filter: none;
    opacity: 1;
    pointer-events: inherit;
  }

  .bfFHbg {
    cursor: auto;
  }
}

@-moz-document domain("discord.com") {
  div.channelTextArea_f75fb0 {
    margin-bottom: 7px;
  }
}

@-moz-document domain("instagram.com") {
  html[class] {
    overflow-y: auto !important;
  }

  [aria-label="Chats"] > div > div > div,
  [data-pagelet="IGDOpenMessageList"] > div > div > div > div > div
   {
    scrollbar-width: thin;
  }
}

@-moz-document domain("jbhifi.com.au") {
  .logo {
    margin: 5px;
  }

  a:hover {
    text-decoration: none;
  }

  #react-root-footer a:hover,
  .footer a:not([href]):not([class]) {
    text-decoration: underline !important;

    &:hover {
      text-decoration: none !important;
    }
  }

  #compare-bar {
    border: none;
  }

  div[data-testid="navigation-menu-dropdown-menu"] {
    max-height: fit-content;
  }

  .refinement-container,
  .search-refinement-container {
    &.scrollFix .sticky-filters {
      margin: 5px 15px 0;
    }

    .refinement-mobile-filter {
      margin-bottom: 0;
    }
  }
}

@-moz-document domain("login.microsoftonline.com") {
  html {
    background-color: black !important
  }
}

@-moz-document domain("mathworks.com") {
  #domainButton.btn_countrynav {
    font-size: inherit;
    margin: 0 !important;
  }

  #footer {
    padding: 10px 0px;
  }

  .content_container {
    background-color: transparent;
  }

  .body_trail_container {
    background: unset;
    padding: unset;
  }

  body.-has_usernav #sticky_container .dropdown-menu {
    padding: 2px 0 !important;
  }
}

@-moz-document domain("pcpartpicker.com") {

  .wrapper__pageTitle > section,
  footer .footer {
    padding: 1rem 0;
  }

  .img__part,
  #partlist .partlist table tbody tr td.td__image a,
  #products .productList--detailed .td__name .td__image {
    border: none;
    padding: 1px;
  }

  .button {
    transition-property: background-color, border-color, color !important;
  }
}

@-moz-document domain("store.steampowered.com") {
  body.v6 {
    #footer {
      padding: 0px;

      .footer_content {
        padding-bottom: 16px;
      }
    }

    #footer_spacer {
      height: 120px;
    }
  }
}

@-moz-document domain("supremecourt.vic.gov.au") {
  .site-footer .footer-top {
    /* Colour sampled from other elements on the site.
    They used a white font so if the background image doesn't load, you can't see the text. */
    background: #981e32;
  }
}

@-moz-document domain("winaero.com") {
  #page {
    margin: 0;
  }

  body::after,
  body::before {
    display: none !important;
  }
}

@-moz-document domain("web.archive.org") {
  .s4xx {
    color: coral;
  }
}