/* ==UserStyle==
@name           Template
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-01-01.0.0
@description    Template
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
@updateURL      https://github.com/tdanese/My-Stylus-Themes/Template.user.css
==/UserStyle== */