/* ==UserStyle==
@name           Echo360 Fixes
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-03-29.0.1
@description    Makes echo360 easier to use
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
==/UserStyle== */
@-moz-document domain("echo360.net.au") {
  html {
    --header-height: 2rem;
  }

  .loading-background > .loading {
    left: -40px;
  }

  .class-row > .content-wrapper > .content > .details > .media-icons.video > .menu.open > .menu-items {
    transform: translate(0%, 0px);

    &::after {
      left: 110px;
    }
  }

  .main-content [data-test-component="LibraryWrapper"] > [data-test-component="ContentWrapper"] {
    padding: 0.5rem 1.5rem;
  }

  .class-row {
    margin: 0px;

    & .content-wrapper .content {
      height: fit-content;
      padding: 0px;
    }
  }

  .class-list {
    padding-top: 5px;

    & .info-bar {
      padding-bottom: 5px;
    }
  }

  .courseHome {
    top: 28px;

    & .class-list.cl-light > .contents-wrapper {
      top: 50px;
      right: 0px;
      overflow-x: hidden;
      scrollbar-width: thin;
    }
  }

  div.course-section-header {
    height: auto;

    & h1 {
      line-height: 1.75rem;
      margin-bottom: 0.3rem;

      & span.dash {
        top: 0px;
      }
    }

    & .buttons a {
      line-height: 25px;
    }
  }

  #content-panel {
    padding: 1rem 1.5rem 0.5rem;
  }

  .main-content {
    top: var(--header-height);
    height: auto;
  }

  body {
    line-height: 1;
  }

  header.echo-header-bar,
  header[data-test-component="EchoHeader"] {
    height: var(--header-height);
    min-height: var(--header-height);
  }

  a[class^="commonComponents__CardWrapper"] {
    height: auto;
    min-height: 10rem;
  }

  div[class^="commonComponents__Preview"] > svg {
    height: 2rem;
  }

  span[class^="SectionCard__LessonCount"] {
    margin-bottom: 0.5rem;
  }

  #player [aria-label="Player controls"] {
    height: 3rem;
  }
}