/* ==UserStyle==
@name           Unimelb SSO dark
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-04-13.0.1
@description    Dark theme for Unimelb's okta verify screen. Many rules have the important modifier due to their liberal use in the okta stylesheets.
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
@preprocessor   less
@var color bg "Background colour" rgb(27, 24, 25)
@var color font-main "Main font colour" silver
==/UserStyle== */
@-moz-document domain("sso.unimelb.edu.au") {
  #okta-sign-in.auth-container {

    .link:is(:active, :hover, :link, :visited),
    .o-form-explain,
    .okta-form-subtitle,
    h2,
    h3 {
      color: @font-main;
    }

    .mfa-okta-verify {
      filter: brightness(50%);
    }

    .o-form .okta-form-input-field input {
      background-color: hsl(0, 0%, 15%);
      color: @font-main;
    }

    > .auth-content .button {
      background-color: hsl(140, 50%, 30%) !important;
      border: none;
      color: hsl(from @font-main h s calc(l / 0.9)) !important;

      &:hover {
        background-color: hsl(140, 50%, 35%) !important;
      }

      &.select-factor {
        background: @font-main !important;
        color: hsl(0, 0%, 15%) !important;

        &:hover {
          background-color: hsl(from @font-main h s calc(l / 1.14)) !important;
        }
      }
    }
  }

  #custom-applogin-banner.applogin-banner p,
  p {
    color: @font-main;
  }

  body,
  div,
  main {
    /*   I don't know why they use so many borders when they are the same colour as the background */
    background-color: @bg !important;
    border-color: transparent !important;
    color: @font-main !important;
  }

  nav#side-nav-expandable {
    background-color: hsl(0, 0%, 5%);
  }
}