/* ==UserStyle==
@name           Unimelb
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-04-13.0.2
@description    unimelb.edu.au and subdomains excluding canvas.lms.unimelb.edu.au
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
@preprocessor   less
@var color bg-global "Global background colour" bisque
==/UserStyle== */
@-moz-document domain("eng.unimelb.edu.au"),
domain("handbook.unimelb.edu.au"),
domain("library.unimelb.edu.au"),
domain("my.unimelb.edu.au"),
domain("safety.unimelb.edu.au"),
url-prefix("https://students.unimelb.edu.au/"),
domain("www.unimelb.edu.au") {
  :root {
    --col-grey-light-25: rgba(255, 255, 255, 0.3);
    --col-bg-alt-25: transparent;
  }

  html {
    background-color: @bg-global;
  }

  .uomcontent .accordion {
    --accordion-col-bg-content: transparent;
    --accordion-col-bg-opened: var(--col-grey-light-25);
  }
}

@-moz-document domain("captureme.unimelb.edu.au") {

  body,
  #container {
    background-color: @bg-global;
  }

  #expiredLink,
  #faultyOrDamaged,
  #lostOrStolen,
  #rejectedPhoto {
    height: 5rem;
    display: block;
    width: 5rem;
    margin: auto;
    background: radial-gradient(black 20%, transparent 70%);

    &:hover {
      background: radial-gradient(dodgerblue 20%, transparent 70%);
    }
  }
}

@-moz-document domain("identity.unimelb.edu.au") {
  body {
    background-color: @bg-global;
  }

  #content-wrapper {
    background: none;
  }
}

@-moz-document url-prefix("https://lms.unimelb.edu.au") {
  :root {
    background: @bg-global;
    --col-bg-light: @bg-global;
    --col-bg-alt-25: @bg-global;
  }
}

@-moz-document domain("mytimetable.students.unimelb.edu.au") {
  body {
    background-color: @bg-global;
    --primary-color: rgb(40, 35, 40);
  }

  .css-1es1tny {
    background-color: antiquewhite;
  }

  .css-1jukbya .MuiDrawer-paper {
    background-color: var(--primary-color);
  }
}

@-moz-document domain("your.unimelb.edu.au") {
  :root {
    --dxp-g-root: @bg-global;
  }

  .home-middle-section {
    background: none;
  }
}

@-moz-document domain("unimelb.service-now.com") {

  body,
  #catItemTop > .panel-default {
    background-color: @bg-global;
    border: none;
  }
}