/* ==UserStyle==
@name           Unimelb
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-06-28.0.1
@description    unimelb.edu.au and subdomains excluding canvas.lms.unimelb.edu.au
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
@preprocessor   less
@var color bg-global "Global background colour" bisque
==/UserStyle== */
@-moz-document domain("eng.unimelb.edu.au"),
domain("handbook.unimelb.edu.au"),
domain("library.unimelb.edu.au"),
domain("safety.unimelb.edu.au"),
domain("services.unimelb.edu.au"),
url-prefix("https://students.unimelb.edu.au/"),
domain("www.unimelb.edu.au") {
  :root {
    --col-bg-alt-25: transparent;
    --col-grey-light-25: rgba(255, 255, 255, 0.3);
  }

  .bg-white {
    background-color: @bg-global !important;
  }

  .card,
  .bg-gray-100,
  html {
    background-color: @bg-global;
  }

  .uomcontent .accordion {
    --accordion-col-bg-content: transparent;
    --accordion-col-bg-opened: var(--col-grey-light-25);
  }
}

@-moz-document domain("my.unimelb.edu.au") {
  .bg-white {
    background-color: @bg-global !important;
  }

  .card,
  .bg-gray-100 {
    background-color: @bg-global;
  }

  .bg-teal-25 {
    background-color: hsl(180, 45%, 85%) !important;
  }

  .top-nav-bottom,
  .top-nav-top {
    height: 30px;
  }

  div.d-flex.justify-content-center.align-items-center[style]:has(> a#link_main_menu_logo) {
    display: none !important;
  }

  ul.navbar-nav {
    > h1.title-desktop {
      display: none;
    }

    > li.nav-item {
      height: 100%;

      > .nav-link {
        align-content: center;
        height: 100%;
        padding: 0px 1rem !important;
      }
    }
  }
}

@-moz-document domain("captureme.unimelb.edu.au") {
  body,
  #container {
    background-color: @bg-global;
  }

  #expiredLink,
  #faultyOrDamaged,
  #lostOrStolen,
  #rejectedPhoto {
    background: radial-gradient(black 20%, transparent 70%);
    display: block;
    height: 5rem;
    margin: auto;
    width: 5rem;

    &:hover {
      background: radial-gradient(dodgerblue 20%, transparent 70%);
    }
  }
}

@-moz-document domain("identity.unimelb.edu.au") {
  body {
    background-color: @bg-global;
  }

  #content-wrapper {
    background: none;
  }
}

@-moz-document url-prefix("https://lms.unimelb.edu.au") {
  :root {
    --col-bg-alt-25: @bg-global;
    --col-bg-light: @bg-global;
    background: @bg-global;
  }
}

@-moz-document domain("specialconsideration.app.unimelb.edu.au") {
  div#uBodyContainer {
    background-color: @bg-global;
  }

  section.uRegion {
    background: none;
  }
}

@-moz-document domain("sso.unimelb.edu.au") {
  #okta-sign-in.auth-container {
    margin: 0px auto;

    .auth-content {
      margin-top: 10px !important;
      padding-top: 0px;

      .okta-form-title {
        margin-bottom: 10px;
      }

      .o-form-input button,
      .o-form-input input {
        border: none !important;
        outline: none !important;
      }

      .button {
        font-size: 14pt !important;
      }
    }

    .link:link:hover {
      text-decoration: none;
    }

    .auth-org-logo {
      height: 90px;
    }
  }

  .eyeicon {
    right: -5px !important;
  }

  .applogin-container p {
    margin: 0 !important;
  }

  #custom-applogin-banner {
    height: 2rem;
    margin: 0px auto !important;
    max-width: 100%;
    min-height: unset;
    padding-bottom: 0px;
    padding-top: 0px;

    .applogin-background {
      align-content: center;
    }
  }
}

@-moz-document domain("mytimetable.students.unimelb.edu.au") {
  body {
    background-color: @bg-global;
    --primary-color: rgb(40, 35, 40);
  }

  .css-1es1tny {
    background-color: antiquewhite;
  }

  .css-1jukbya .MuiDrawer-paper {
    background-color: var(--primary-color);
  }
}

@-moz-document domain("sls-bc.unimelb.edu.au") {
  body {
    background-color: hsl(from @bg-global h s calc(l * 0.95));
  }

  #blueOcean_header_content > explorance-top-navigation {
    background-color: @bg-global;
  }

  #blueOcean_content {
    padding-bottom: 10px;
  }

  #blueOcean_footer {
    height: 40px;
    width: 20%;
    left: 40%;
    padding: 0px;

    .footer-copyright {
      margin-bottom: 10px;
    }
  }
}

@-moz-document domain("your.unimelb.edu.au") {
  :root {
    --dxp-g-root: @bg-global;
  }

  .home-middle-section {
    background: none;
  }
}

@-moz-document domain("unimelb.onthehub.com") {
  body {
    background-color: @bg-global;
    font-family: 'ProximaNova-Regular';
  }

  label,
  .admin-home .col .col-content ul li a {
    font-family: unset;
  }

  .modal-content,
  #e5-nav .nav.nav-tabs.product-filter-menu .dropdown-menu,
  #e5-nav .nav.navbar-right .dropdown-menu {
    background-color: @bg-global;
  }

  .form-control,
  .list-group-item,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:is(:focus, :hover),
  .product-wrapper .product-box,
  .question-group input[type='text'] {
    background-color: hsla(0, 0%, 100%, 0.7);
  }

  .card .card-body,
  .modal-content .modal-body,
  .nested-card .nested-card-body,
  .panel,
  .product-wrapper .product-box .product-name,
  .tab-content.nested-card .section,
  #header > header {
    background: none;
  }
}

@-moz-document domain("unimelb.service-now.com") {
  body,
  #catItemTop > .panel-default {
    background-color: @bg-global;
    border: none;
  }
}