/* ==UserStyle==
@name           Youtube dark videos
@namespace      github.com/tdanese/My-Stylus-Themes (https://github.com/tdanese/My-Stylus-Themes)
@version        2026-02-19.0.1
@description    Reduce video brightness to 75% to preserve my retinas
@author         tdanese
@homepageURL    https://github.com/tdanese/My-Stylus-Themes
==/UserStyle== */
@-moz-document domain("youtube.com") {
  #player-container {
    filter: brightness(0.75)
  }
}